body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #1e1e1e;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.vahid {
    padding: 20px;
    color: black;
    font-size: 25px;
}
nav a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    padding: 95px;
}

article {
    flex: 3;
    background: white;
    padding: 20px;
    margin-right: 20px;
    border-radius: 5px;
}

.date {
    color: gray;
    font-size: 14px;
}

aside {
    flex: 1;
    background: white;
    padding: 15px;
    border-radius: 5px;
}

aside ul {
    padding-left: 20px;
}

footer {
    background-color: #1e1e1e;
    color: white;
    text-align: center;
    padding: 40px;
    margin-top: 20px;
}
